**/target/
# Compiled class file
**/*.class

# Log file
**/**.log

# BlueJ files
**/**.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Spring Boot files
**/application.properties
**/application*.properties
**/spreadsheetCredentials.json
**/StoredCredential
.DS_Store

pagefeedback-cj.iml
feedback-cj.iml
Feedback Tool.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_4_01.xml
.idea/libraries/Maven__xerces_xercesImpl_2_11_0.xml
.idea/libraries/Maven__xerces_xercesImpl_2_10_0.xml
.idea/libraries/Maven__uk_gov_service_notify_notifications_java_client_3_15_1_RELEASE.xml
.idea/libraries/Maven__stax_stax_api_1_0_1.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_3.xml
.idea/libraries/Maven__org_unbescape_unbescape_1_1_6_RELEASE.xml
.idea/libraries/Maven__org_tukaani_xz_1_8.xml
.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring5_3_0_11_RELEASE.xml
.idea/libraries/Maven__org_thymeleaf_thymeleaf_3_0_11_RELEASE.xml
.idea/libraries/Maven__org_thymeleaf_extras_thymeleaf_extras_springsecurity4_3_0_4_RELEASE.xml
.idea/libraries/Maven__org_thymeleaf_extras_thymeleaf_extras_java8time_3_0_4_RELEASE.xml
.idea/libraries/Maven__org_tallison_jmatio_1_2.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_3_2_16_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_config_5_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_configuration_processor_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_2_1_RELEASE.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_25.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_29.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_29.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_24.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_quartz_scheduler_quartz_2_2_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_opengis_geoapi_3_0_1.xml
.idea/libraries/Maven__org_opengis_cite_xerces_xercesImpl_xsd11_2_12_beta_r1667115.xml
.idea/libraries/Maven__org_opengis_cite_eclipse_webtools_sse_org_eclipse_wst_xml_xpath2_processor_1_1_5_738bb7b85d.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_mortbay_jetty_servlet_api_2_5_20081211.xml
.idea/libraries/Maven__org_mortbay_jetty_jetty_util_6_1_26.xml
.idea/libraries/Maven__org_mortbay_jetty_jetty_6_1_26.xml
.idea/libraries/Maven__org_mongodb_mongodb_driver_core_3_5_0.xml
.idea/libraries/Maven__org_mongodb_mongodb_driver_core_3_11_2.xml
.idea/libraries/Maven__org_mongodb_mongodb_driver_3_5_0.xml
.idea/libraries/Maven__org_mongodb_mongodb_driver_3_11_2.xml
.idea/libraries/Maven__org_mongodb_mongo_java_driver_3_11_2.xml
.idea/libraries/Maven__org_mongodb_bson_3_5_0.xml
.idea/libraries/Maven__org_mongodb_bson_3_11_2.xml
.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_1_0.xml
.idea/libraries/Maven__org_mockito_mockito_core_3_1_0.xml
.idea/libraries/Maven__org_luaj_luaj_jse_3_0_1.xml
.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_5_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_5_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_5_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_5_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_5_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_5_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_5_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_5_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_5_1.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_13_1.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_10_3.xml
.idea/libraries/Maven__org_json_json_20180813.xml
.idea/libraries/Maven__org_json_json_20160810.xml
.idea/libraries/Maven__org_jdom_jdom2_2_0_6.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
.idea/libraries/Maven__org_jboss_jandex_2_0_5_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
.idea/libraries/Maven__org_itadaki_bzip2_0_9_1.xml
.idea/libraries/Maven__org_imgscalr_imgscalr_lib_4_2.xml
.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_18_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_8_Final.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_0_Final.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_2.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_2.xml
.idea/libraries/Maven__org_gagravarr_vorbis_java_tika_0_8.xml
.idea/libraries/Maven__org_gagravarr_vorbis_java_core_0_8.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_2_20_v20161216.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_2_20_v20161216.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_2_20_v20161216.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_2_20_v20161216.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_2_20_v20161216.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_proxy_9_2_20_v20161216.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_alpn_java_client_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_alpn_client_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_http2_http2_http_client_transport_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_http2_http2_hpack_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_http2_http2_common_9_4_24_v20191120.xml
.idea/libraries/Maven__org_eclipse_jetty_http2_http2_client_9_4_24_v20191120.xml
.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
.idea/libraries/Maven__org_codelibs_jhighlight_1_0_2.xml
.idea/libraries/Maven__org_codehaus_woodstox_woodstox_core_asl_4_4_1.xml
.idea/libraries/Maven__org_codehaus_woodstox_stax2_api_3_1_4.xml
.idea/libraries/Maven__org_codehaus_groovy_groovy_2_5_8.xml
.idea/libraries/Maven__org_ccil_cowan_tagsoup_tagsoup_1_2_1.xml
.idea/libraries/Maven__org_brotli_dec_0_1_2.xml
.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_54.xml
.idea/libraries/Maven__org_bouncycastle_bcpkix_jdk15on_1_54.xml
.idea/libraries/Maven__org_bouncycastle_bcmail_jdk15on_1_54.xml
.idea/libraries/Maven__org_bitbucket_b_c_jose4j_0_6_5.xml
.idea/libraries/Maven__org_attoparser_attoparser_2_0_5_RELEASE.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_13_2.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_4.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_apache_zookeeper_zookeeper_jute_3_5_5.xml
.idea/libraries/Maven__org_apache_zookeeper_zookeeper_3_5_5.xml
.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_6_0.xml
.idea/libraries/Maven__org_apache_ws_xmlschema_xmlschema_core_2_2_2.xml
.idea/libraries/Maven__org_apache_velocity_velocity_1_7.xml
.idea/libraries/Maven__org_apache_uima_uimaj_core_2_9_0.xml
.idea/libraries/Maven__org_apache_uima_uimafit_core_2_2_0.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_27.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_27.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_27.xml
.idea/libraries/Maven__org_apache_tika_tika_translate_1_18.xml
.idea/libraries/Maven__org_apache_tika_tika_parsers_1_18.xml
.idea/libraries/Maven__org_apache_tika_tika_langdetect_1_18.xml
.idea/libraries/Maven__org_apache_tika_tika_core_1_18.xml
.idea/libraries/Maven__org_apache_solr_solr_solrj_8_5_0.xml
.idea/libraries/Maven__org_apache_sis_storage_sis_storage_0_8.xml
.idea/libraries/Maven__org_apache_sis_storage_sis_netcdf_0_8.xml
.idea/libraries/Maven__org_apache_sis_core_sis_utility_0_8.xml
.idea/libraries/Maven__org_apache_sis_core_sis_referencing_0_8.xml
.idea/libraries/Maven__org_apache_sis_core_sis_metadata_0_8.xml
.idea/libraries/Maven__org_apache_sis_core_sis_feature_0_8.xml
.idea/libraries/Maven__org_apache_poi_poi_scratchpad_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_3_17.xml
.idea/libraries/Maven__org_apache_poi_ooxml_schemas_1_3.xml
.idea/libraries/Maven__org_apache_pdfbox_xmpbox_2_0_11.xml
.idea/libraries/Maven__org_apache_pdfbox_pdfbox_tools_2_0_11.xml
.idea/libraries/Maven__org_apache_pdfbox_pdfbox_debugger_2_0_11.xml
.idea/libraries/Maven__org_apache_pdfbox_pdfbox_2_0_11.xml
.idea/libraries/Maven__org_apache_pdfbox_jempbox_1_8_13.xml
.idea/libraries/Maven__org_apache_pdfbox_jbig2_imageio_3_0_0.xml
.idea/libraries/Maven__org_apache_pdfbox_fontbox_2_0_11.xml
.idea/libraries/Maven__org_apache_opennlp_opennlp_tools_1_8_4.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_12_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_11_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_12_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_11_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_12_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_2.xml
.idea/libraries/Maven__org_apache_james_apache_mime4j_dom_0_8_1.xml
.idea/libraries/Maven__org_apache_james_apache_mime4j_core_0_8_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_10.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_4_12.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_12.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_10.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_1_4.xml
.idea/libraries/Maven__org_apache_geronimo_javamail_geronimo_javamail_1_4_mail_1_8_4.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_transports_http_3_0_16.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_rs_client_3_0_16.xml
.idea/libraries/Maven__org_apache_cxf_cxf_rt_frontend_jaxrs_3_0_16.xml
.idea/libraries/Maven__org_apache_cxf_cxf_core_3_0_16.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_6.xml
.idea/libraries/Maven__org_apache_commons_commons_pool2_2_4_2.xml
.idea/libraries/Maven__org_apache_commons_commons_math3_3_6_1.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_9.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Maven__org_apache_commons_commons_dbcp2_2_1_1.xml
.idea/libraries/Maven__org_apache_commons_commons_csv_1_8.xml
.idea/libraries/Maven__org_apache_commons_commons_csv_1_7.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_16_1.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_3.xml
.idea/libraries/Maven__ognl_ognl_3_1_12.xml
.idea/libraries/Maven__nz_net_ultraq_thymeleaf_thymeleaf_layout_dialect_2_4_1.xml
.idea/libraries/Maven__nz_net_ultraq_thymeleaf_thymeleaf_expression_processor_1_1_3.xml
.idea/libraries/Maven__net_sourceforge_nekohtml_nekohtml_1_9_22.xml
.idea/libraries/Maven__net_sourceforge_nekohtml_nekohtml_1_9_21.xml
.idea/libraries/Maven__net_sf_opencsv_opencsv_2_0.xml
.idea/libraries/Maven__net_sf_ehcache_ehcache_core_2_6_2.xml
.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
.idea/libraries/Maven__net_jcip_jcip_annotations_1_0.xml
.idea/libraries/Maven__net_java_dev_jna_jna_4_1_0.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_2.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_2.xml
.idea/libraries/Maven__net_arnx_jsonic_1_2_11.xml
.idea/libraries/Maven__mysql_mysql_connector_java_8_0_18.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_9.xml
.idea/libraries/Maven__joda_time_joda_time_2_10_5.xml
.idea/libraries/Maven__jaxen_jaxen_1_2_0.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__javax_measure_unit_api_1_0.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_2.xml
.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_1.xml
.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_1.xml
.idea/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_29_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_epoll_4_1_29_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_4_1_29_Final.xml
.idea/libraries/Maven__io_netty_netty_resolver_4_1_29_Final.xml
.idea/libraries/Maven__io_netty_netty_handler_4_1_29_Final.xml
.idea/libraries/Maven__io_netty_netty_common_4_1_29_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_4_1_29_Final.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_1_29_Final.xml
.idea/libraries/Maven__io_jsonwebtoken_jjwt_jackson_0_10_7.xml
.idea/libraries/Maven__io_jsonwebtoken_jjwt_impl_0_10_7.xml
.idea/libraries/Maven__io_jsonwebtoken_jjwt_api_0_10_7.xml
.idea/libraries/Maven__edu_usc_ir_sentiment_analysis_parser_0_1.xml
.idea/libraries/Maven__edu_ucar_udunits_4_5_5.xml
.idea/libraries/Maven__edu_ucar_netcdf4_4_5_5.xml
.idea/libraries/Maven__edu_ucar_jj2000_5_3.xml
.idea/libraries/Maven__edu_ucar_httpservices_4_5_5.xml
.idea/libraries/Maven__edu_ucar_grib_4_5_5.xml
.idea/libraries/Maven__edu_ucar_cdm_4_5_5.xml
.idea/libraries/Maven__edu_princeton_cup_java_cup_10k.xml
.idea/libraries/Maven__de_l3s_boilerpipe_boilerpipe_1_1_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_api_1_1.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_jxpath_commons_jxpath_1_3.xml
.idea/libraries/Maven__commons_io_commons_io_2_6.xml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
.idea/libraries/Maven__commons_dbutils_commons_dbutils_1_7.xml
.idea/libraries/Maven__commons_configuration_commons_configuration_1_10.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_13.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_cli_commons_cli_1_4.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_3.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_1.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__com_tdunning_json_1_8.xml
.idea/libraries/Maven__com_sybit_airtable_java_0_2_0.xml
.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_16.xml
.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_8.xml
.idea/libraries/Maven__com_rometools_rome_utils_1_5_1.xml
.idea/libraries/Maven__com_rometools_rome_1_5_1.xml
.idea/libraries/Maven__com_pff_java_libpst_0_8_1.xml
.idea/libraries/Maven__com_optimaize_languagedetector_language_detector_0_6.xml
.idea/libraries/Maven__com_norconex_jef_norconex_jef_4_1_2.xml
.idea/libraries/Maven__com_norconex_commons_norconex_commons_lang_1_15_0.xml
.idea/libraries/Maven__com_norconex_collectors_norconex_importer_2_10_0.xml
.idea/libraries/Maven__com_norconex_collectors_norconex_committer_solr_2_4_0.xml
.idea/libraries/Maven__com_norconex_collectors_norconex_committer_core_2_1_3.xml
.idea/libraries/Maven__com_norconex_collectors_norconex_collector_http_2_9_0.xml
.idea/libraries/Maven__com_norconex_collectors_norconex_collector_core_1_10_0.xml
.idea/libraries/Maven__com_memetix_microsoft_translator_java_api_0_6_2.xml
.idea/libraries/Maven__com_mashape_unirest_unirest_java_1_4_9.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_intellij_annotations_12_0.xml
.idea/libraries/Maven__com_healthmarketscience_jackcess_jackcess_encrypt_2_1_4.xml
.idea/libraries/Maven__com_healthmarketscience_jackcess_jackcess_2_1_10.xml
.idea/libraries/Maven__com_h2database_h2_1_4_200.xml
.idea/libraries/Maven__com_h2database_h2_1_4_199.xml
.idea/libraries/Maven__com_googlecode_mp4parser_isoparser_1_1_18.xml
.idea/libraries/Maven__com_googlecode_juniversalchardet_juniversalchardet_1_0_3.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_6_1.xml
.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_jetty_1_23_0.xml
.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_java6_1_23_0.xml
.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_1_23_0.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_jackson2_1_23_0.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_1_23_0.xml
.idea/libraries/Maven__com_google_guava_guava_jdk5_17_0.xml
.idea/libraries/Maven__com_google_guava_guava_17_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_google_apis_google_api_services_sheets_v4_rev493_1_23_0.xml
.idea/libraries/Maven__com_google_api_client_google_api_client_1_23_0.xml
.idea/libraries/Maven__com_github_virtuald_curvesapi_1_04.xml
.idea/libraries/Maven__com_github_openjson_openjson_1_0_10.xml
.idea/libraries/Maven__com_github_junrar_junrar_0_7.xml
.idea/libraries/Maven__com_github_jai_imageio_jai_imageio_core_1_3_1.xml
.idea/libraries/Maven__com_github_darrachequesne_spring_data_mongodb_datatables_1_0_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
.idea/libraries/Maven__com_drewnoakes_metadata_extractor_2_10_1.xml
.idea/libraries/Maven__com_beust_jcommander_1_35.xml
.idea/libraries/Maven__com_adobe_xmp_xmpcore_5_1_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__c3p0_c3p0_0_9_1_1.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/jpa-buddy.xml
.idea/jarRepositories.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_0.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_15_3.xml
.idea/libraries/Maven__org_checkerframework_checker_compat_qual_2_5_5.xml
.idea/libraries/Maven__io_opencensus_opencensus_contrib_http_util_0_31_1.xml
.idea/libraries/Maven__io_opencensus_opencensus_api_0_31_1.xml
.idea/libraries/Maven__io_grpc_grpc_context_1_27_2.xml
.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_jetty_1_34_1.xml
.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_java6_1_34_1.xml
.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_1_34_1.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_gson_1_39_2.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_apache_v2_1_39_2.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_1_42_0.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_guava_guava_30_1_1_android.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_5_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_apis_google_api_services_sheets_v4_rev20210629_1_32_1.xml
.idea/libraries/Maven__com_google_api_client_google_api_client_1_32_1.xml
.idea/libraries/Maven__com_google_auth_google_auth_library_credentials_1_11_0.xml
.idea/libraries/Maven__com_google_auth_google_auth_library_oauth2_http_1_11_0.xml
.idea/libraries/Maven__com_google_auto_value_auto_value_annotations_1_9.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_7_1.xml
.idea/libraries/Maven__com_google_guava_guava_31_0_1_android.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_gson_1_42_2.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_3.xml
.idea/libraries/Maven__org_json_json_20160212.xml
.idea/libraries/Maven__io_opencensus_opencensus_contrib_http_util_0_28_0.xml
.idea/libraries/Maven__io_opencensus_opencensus_api_0_28_0.xml
.idea/libraries/Maven__com_google_oauth_client_google_oauth_client_1_31_5.xml
.idea/libraries/Maven__com_google_http_client_google_http_client_1_39_2.xml
.idea/google-java-format.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_13.xml
.idea/libraries/Maven__org_apache_commons_commons_csv_1_9_0.xml
.idea/libraries/Maven__commons_io_commons_io_2_11_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_4.xml
src/main/resources/service-account.p12
